.ligther {
    --bodyColor :#{$ligtherBodyColor};
    --primaryColor: #{$ligtherPrimaryColor};
    --secondaryColor: #{$ligtherSecondaryColor};
    --primaryColorOp85 : #{$ligtherPrimaryColorOp85};
    --backgroundLinear: #{$ligtherBackgroundLinear};

    --primaryColorText: #{$ligtherPrimaryColorText};
    --primaryColorCircle: #{$ligtherPrimaryColorCircle};

    --secondaryColorText: #{$ligtherSecondaryColorText};
    --citySearchColorText : #{$ligtherCitySearchColorText};

    --svgColor : #{$ligtherSvg};
    --nowBackground : #{$ligtherNowBackground };

    --svgFooter : #{$ligtherSvgFooter};

    --buttonHover : #{$ligtherButtonHover};
}

.dark {
    --bodyColor :#{$darkBodyColor};
    --primaryColor: #{$darkPrimaryColor};
    --secondaryColor: #{$darkSecondaryColor};  
    --primaryColorOp85 : #{$darkPrimaryColorOp85};
    --backgroundLinear: #{$darkBackgroundLinear};

    --primaryColorText: #{$darkPrimaryColorText};  
    --primaryColorCircle: #{$darkPrimaryColorCircle};

    --secondaryColorText: #{$darkSecondaryColorText};
    --citySearchColorText : #{$darkCitySearchColorText};

    --svgColor : #{$darkSvg};
    --nowBackground  : #{$darkNowBackground };

    --svgFooter : #{$darkSvgFooter};

    --buttonHover : #{$darkButtonHover};
}