//lighter
$ligtherBodyColor : #fff;
$ligtherPrimaryColor: #fff;
$ligtherPrimaryColorOp85: #ffffff85;
$ligtherSecondaryColor : #2e7bc3;
$ligtherBackgroundLinear : linear-gradient(0deg, rgba(44, 121, 193, 1) 0%, rgba(98, 184, 246, 1) 100%);

$ligtherPrimaryColorText: #fff;
$ligtherPrimaryColorTextOp75: #ffffff75;
$ligtherSecondaryColorText : #2e7bc3;
$ligtherCitySearchColorText : #000;

$ligtherSvg : invert(1);
$ligtherNowBackground : #60b5f4;

$ligtherSvgFooter : hue-rotate(208.99deg) saturate(61.83%) brightness(47.25%);

$ligtherButtonHover : #60b5f4;

$ligtherPrimaryColorCircle : #fff;


//dark
$darkBodyColor : #444444;
$darkPrimaryColor: #000;
$darkPrimaryColorOp85: rgba(0, 0, 0, 0.85);
$darkSecondaryColor: #09131a;
$darkBackgroundLinear: linear-gradient(0deg, rgba(8, 17, 24, 1) 0%, rgba(28, 47, 60, 1) 100%);

$darkPrimaryColorText: #fff;
$darkSecondaryColorText: #fff;
$darkCitySearchColorText: #fff;

$darkSvg: invert(100);
$darkNowBackground: #1c2f3c ;

$darkSvgFooter: invert(100);

$darkButtonHover: #fff;


$darkPrimaryColorCircle : #fff;
