//lighter
$ligtherPrimaryColor: #fff;
$ligtherSecondaryColor : #2e7bc3;
$ligtherBackgroundLinear : linear-gradient(0deg, rgba(44, 121, 193, 1) 0%, rgba(98, 184, 246, 1) 100%);

$ligtherPrimaryColorText: #fff;
$ligtherSecondaryColorText : #2e7bc3;

$ligtherSvg : invert(1);
$ligtherNowBackground : #60b5f4;

$ligtherSvgFooter : hue-rotate(208.99deg) saturate(61.83%) brightness(47.25%);

$ligtherButtonHover : #60b5f4;
//dark
$darkPrimaryColor: #fff;
$darkSecondaryColor: #2e7bc3;
$darkBackgroundLinear: linear-gradient(0deg, rgba(44, 121, 193, 1) 0%, rgba(98, 184, 246, 1) 100%);

$darkPrimaryColorText: #fff;
$darkSecondaryColorText: #2e7bc3;

$darkSvg : invert(1);
$darkNowBackground : #60b5f4;

$darkSvgFooter : hue-rotate(208.99deg) saturate(61.83%) brightness(47.25%);

$darkButtonHover : #60b5f4;